<div id="intro-general-container" class="container row">
  {{!-- Insert container holding image --}}

  {{!-- Insert container holding buttons --}}
    {{!-- Insert two buttons --}}
      {{!-- button names 
        - New buddy
        - Old buddy
      --}}
    {{!-- Modal for new buddy
        - new username
        - new password
     --}}
     {{!-- Modal for existing buddy
        - exisiting username
        - existing password
      --}}
</div>


<script
  src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="../public/js/intro.js"></script>