<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Import materialize.css cdn-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
        <title>Reflect</title>
    </head>
    <body>
      <div id="intro-general-container" class="container row">
        <div id="intro-title" class="col s12">Reflect</div>
        <div id="intro-image" class="col s12"></div>
        {{!-- Two Buttons --}}
        <div id="intro-button-container" class="col s12">
            <a class="waves-effect waves-light btn modal-trigger" href="#intro-new-user-modal">Create Account</a>
            <a class="waves-effect waves-light btn modal-trigger" href="#intro-existing-user-modal">Login</a>
        </div>
        
      </div>
    <form action="/postData" method="post" class="col s12">
      <!-- New User -->
      <div id="intro-new-user-modal" class="modal">
          <div class="modal-content container">
              <!-- First -->
              <h4 class="center">New User</h4>
              <!-- Second -->
              <div class="row">
                  <div class="input-field col s12">
                      <input id="intro-new-name" type="text" class="validate">
                      <label for="intro-new-name">Create Username</label>
                  </div>
              </div>
              <!-- Third -->
              <div class="row">
                  <div class="input-field col s12">
                      <input id="intro-new-password" type="text" class="validate">
                      <label for="intro-new-password">Create Password</label>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="center col s12">
                  <a id="intro-new-user-button" href="#intro-user-emotions-modal" class="modal-close waves-effect waves-green btn modal-trigger">Next</a>
              </div>
          </div>
      </div>
      <!-- Log into existing user -->
      <div id="intro-existing-user-modal" class="modal">
          <div class="modal-content container">
              <!-- First -->
              <h4 class="center">Existing user</h4>
              <!-- Second -->
              <div class="row">
                  <div class="input-field col s12">
                      <input id="intro-existing-name" type="text" class="validate">
                      <label for="intro-existing-name">Username</label>
                  </div>
              </div>
              <!-- Third -->
              <div class="row">
                  <div class="input-field col s12">
                      <input id="intro-existing-password" type="text" class="validate">
                      <label for="intro-existing-password">Password</label>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="center col s12">
                  <a id="intro-existing-user-button" href="#intro-user-emotions-modal" class="modal-close waves-effect waves-green btn modal-trigger" id="login-existing-button">Next</a>
              </div>
          </div>
      </div>
      {{!-- Emoji Modal --}}
      <div id="intro-user-emotions-modal" class="modal">
        <div class="modal-content container">
          <h4 class="center">How are you feeling today?</h4>
          <div class="row" id="intro-above-emoji-space">
            <div class="col s12"></div>
          </div>
          <div class="row" id="intro-emoji-space">
              <form action="#">
                <div class="col s4">
                    <div class="row">
                        <div class="col s12">
                            <i class="large material-icons center">mood</i>
                        </div>
                        <div class="col s12">
                            <p>
                                <label>
                                  <input name="group1" type="radio" checked />
                                  <span class="emoji-choice" id="emoji-happy">Happy</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s4 ">
                    <div class="row">
                        <div class="col s12">
                            <i class="large material-icons center">face</i>
                        </div>
                        <div class="col s12">
                            <p>
                                <label>
                                <input name="group1" type="radio" />
                                <span class="emoji-choice"  id="emoji-meh">Meh</span>
                              </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s4 emoji-choice" >
                    <div class="row">
                        <div class="col s12">
                            <i class="large material-icons center">mood_bad</i>
                        </div>
                        <div class="col s12">
                            <p>
                                <label>
                                <input class="with-gap" name="group1" type="radio"  />
                                <span class="emoji-choice" id="emoji-sad">Sad</span>
                              </label>
                            </p>
                        </div>
                    </div>
                </div>
          <div class="row">
            <div class="center col s12">
              <a id="intro-existing-user-button" href="#intro-journal-modal" class="modal-close waves-effect waves-green btn modal-trigger">Next</a>
            </div>
          </div>
          </div>
          <div class="row" id="intro-below-emoji-space">
            <div class="col s12"></div>
          </div>
        </div>
      </div>
      {{!-- Journal Modal --}}
      <div id="intro-journal-modal" class="modal">
        <div class="modal-content container">
          <h4 class="center">Reflect About Your Day:</h4>
        </div>
        
          <input type="hidden" name="new" id="data-new" value="true">
          <input type="hidden" name="emoji" id="data-emoji">
          <div class="row">
            <div class="input-field center col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea name="journal" id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2"></label>
              <a id="journal-entry-button" href="/results" class="modal-close waves-effect waves-green btn modal-trigger" id="submit-entry">Submit</a>
            </div>
          </div>
        </form>
      </div>
    </form>
      <!-- End of body, entering scripts  -->
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
      <!-- Materialize JS Framework -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="/js/intro.js"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
    </body>
</html>