<nav>
  <div class="nav-wrapper white" id="nav-bar">
    <a href="#" class="brand-logo container center white black-text"></a>
    <ul id="nav-mobile" class="left show-on-med-and-down " data-target="mobile-demo" class="sidenav-trigger">
        <li><a class='btn ' href='/'><i class="material-icons">home</i></a></li>
    </ul>
  </div>
</nav>
 
<div class="parallax-container center valign-wrapper">
    <div class="parallax p1"></div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                {{!-- <h3 class="landing-font" class="teal-text teal-text lighten-2">Take a Moment and</h3> --}}
                <h2 class="landing-font" class="teal-text teal-text lighten-2">Reflect</h2>
                <div class="col s12 m6 l3"><p></p></div>
                <div class="col s12 m6 l3"><p><a class="waves-effect waves-light btn modal-trigger" href="#intro-new-user-modal"><i class="material-icons">person</i> Create</a></p></div>
                <div class="col s12 m6 l3"><p><a class="waves-effect waves-light btn modal-trigger" href="#intro-existing-user-modal">Login</a></div></p></div>
                <div class="col s12 m6 l3"><p></p></div>
            </div>
        </div>
    </div>

    {{!-- About --}}
    <div class="container">
    <div class="row">
       <div class="col m4 s12">
         <div class="icon-block">
           <h2 class="center teal-text">
             <i class="material-icons">book</i>  
           </h2>
           <h5 class="center">Let's Get Digital!</h5>
           <p class="light">
             In the age of technology, who really has the time to sit and write down in a journal anymore? No one! 
             Reflect is here to solve that problem by simply asking you how your day went and what you have you been
             thinking about. In addition, we provide a space for you to write down any other things you may have on your mind. So, sit back, relax,
             take a few moments of deep breaths and Reflect.
           </p>
         </div>
         
       </div>
       <div class="col m4 s12">
         <div class="icon-block">
           <h2 class="center teal-text">
             <i class="material-icons">group</i>  
           </h2>
           <h5 class="center">Mental Health Focused</h5>
           <p class="light">
             This application is to help you center yourself in this fast paced-society. Journaling your daily thoughts, 
             habits, and personal life is proven to help with your mental health. With Reflect in the palm of your hand, you 
             have a way to record everything down.
           </p>
         </div> 
       </div>
       <div class="col m4 s12">
         <div class="icon-block">
           <h2 class="center teal-text">
             <i class="material-icons">insert_chart</i>  
           </h2>
           <h5 class="center">Your Progress</h5>
           <p class="light">
             We provide charts and data to show all your Reflections so that you can be able to look back 
             at your entries. You can see what areas in your life you think more or less of.  
           </p>
         </div> 
       </div>
     </div>
    </div>
    {{!-- Empty Parallax for second image --}}
    <div class="parallax-container center valign-wrapper">
        <div class="parallax p2"></div>
        
        <div class="container white-text">
            <div class="row">
                <div class="col s12">
                </div>
            </div>
        </div>
    </div>
    {{!-- Contact --}}
    <div class="container center-align">
        <div class="section" >
            <div class="row">
                <div class="col s12">
                    <h4>Contact Us</h4>
                    <p class="light center">
                        We love to hear from you and know how Reflect has impacted your life! <br>
                        reflect @ email .com
                    </p>
                </div>      
            </div>
        </div>
    </div>
</div>


 {{!-- Modal form --}}
<form action="/api/journalEntries" method="post">
    <!-- New User -->
    <div id="intro-new-user-modal" class="modal">
        <div class="modal-content container">
            <!-- First -->
            <h4 class="center">New User</h4>
            <!-- Second -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="intro-new-name" type="text" class="validate">
                    <label for="intro-new-name">Create Username</label>
                </div>
            </div>
            <!-- Third -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="intro-new-password" type="password" class="validate">
                    <label for="intro-new-password">Create Password</label>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="center col s12">
                <a id="intro-new-user-button" href="#intro-user-created-modal" class="modal-close waves-effect waves-green btn modal-trigger">Next</a>
            </div>
        </div>
    
    </div>
    {{!-- Modal pop up after user creates an account --}}
    <div id="intro-user-created-modal" class="modal">
        <div class="modal-content container">
            <!-- Row below added to adjust size in CSS later -->
            <div class="row" id="intro-above-emoji-space">
                <div class="col s12"></div>
            </div>
            <h4 class="center">Thank you for joining Reflect!</h4>
            <p class="center">Click next to start recording your Reflections of the day.</p>
            <!-- Row below added to adjust size in CSS later -->
            <div class="row" id="intro-above-emoji-space">
                <div class="col s12"></div>
            </div>
        </div>
        <div class="row">
            <div class="center col s12">
                <a id="intro-user-created-button" href="#intro-user-emotions-modal" class="modal-close waves-effect waves-green btn modal-trigger" id="login-existing-button">Next</a>
            </div>
        </div>
        <div class="row" id="intro-above-emoji-space">
                <div class="col s12"></div>
            </div>
    </div>
    <!-- Existing user -->
    <div id="intro-existing-user-modal" class="modal">
        <div class="modal-content container">
            <!-- First -->
            <h4 class="center">Existing User</h4>
            <!-- Second -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="intro-existing-name" type="text" class="validate">
                    <label for="intro-existing-name">Username</label>
                </div>
            </div>
            <!-- Third -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="intro-existing-password" type="password" class="validate">
                    <label for="intro-existing-password">Password</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center col s12">
                <a id="intro-loggedin-user-button" href="#intro-user-emotions-modal" class="modal-close waves-effect waves-green btn modal-trigger" id="login-existing-button">Next</a>
            </div>
        </div>
    </div>
    <!-- EMOTIONS -->
    <div id="intro-user-emotions-modal" class="modal">
        <div class="modal-content container">
            <h4 class="center">How are you feeling?</h4>
            <!-- Row below added to adjust size in CSS later -->
            <div class="row" id="intro-above-emoji-space">
                <div class="col s12"></div>
            </div>
            <!-- Row Created to hold Emoji faces -->
            <div class="row center" id="intro-emoji-space">
                <div class="col s4">
                    <div class="row center">
                        <div class="col s12">
                            <i class="large material-icons center">mood</i>
                        </div>
                        <div class="col s12">
                            happy
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row center">
                        <div class="col s12">
                            <i class="large material-icons center">face</i>
                        </div>
                        <div class="col s12">
                            okay
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row center">
                        <div class="col s12">
                            <i class="large material-icons center">mood_bad</i>
                        </div>
                        <div class="col s12">
                            bad
                        </div>
                    </div>
                </div>
                <div class="col s12 center"> 
                    <!-- below class "intro-emotions-form" added to center radio buttons in CSS later -->
                    <div class="row center intro-emotions-form">
                        <p class="col s4 center">
                            <input name="group1" type="radio" value="1" id="emotion1"/>
                            <label for="emotion1"></label>
                        </p>
                        <p class="col s4 center">
                            <input name="group1" type="radio" value="2" id="emotion2"/>
                            <label for="emotion2"></label>
                        </p>
                        <p class="col s4 center">
                            <input name="group1" type="radio" value="3" id="emotion3"/>
                            <label for="emotion3"></label>
                        </p>
                    </div>
                </div>
                <div class="col s12 center">
                    <a href="#intro-user-time-modal" class="modal-close waves-effect waves-green btn modal-trigger">Next</a>
                </div>
            </div>
            <!-- Row below made to adjust size in CSS Later -->
            <div class="row" id="intro-below-emoji-space">
                <div class="col s12"></div>
            </div>
        </div>
    </div>
    <!-- TIME -->
    <div id="intro-user-time-modal" class="modal">
        <div class="modal-content container">
            <h4 class="center">What is your reflection about?</h4>
            <!-- Row below added to adjust size in CSS later -->
            <div class="row" id="intro-above-time-space">
                <div class="col s12"></div>
            </div>
            <!-- Row Created to hold Emoji faces -->
            <div class="row center" id="intro-time-space">
                <div class="col s4">
                    <div class="row center">
                        <div class="col s12">
                            <i class="large material-icons center">event_busy</i>
                        </div>
                        <div class="col s12">
                            past
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row center">
                        <div class="col s12">
                            <i class="large material-icons center">event_available</i>
                        </div>
                        <div class="col s12">
                            present
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row center">
                        <div class="col s12">
                            <i class="large material-icons center">event</i>
                        </div>
                        <div class="col s12">
                            future
                        </div>
                    </div>
                </div>
                <div class="col s12 center"> 
                    <!-- below class "intro-emotions-form" added to center radio buttons in CSS later -->
                    <div class="row center intro-time-form">
                        <p class="col s4 center">
                            <input name="group2" type="radio" value="1" id="time1"/>
                            <label for="time1"></label>
                        </p>
                        <p class="col s4 center">
                            <input name="group2" type="radio" value="2" id="time2"/>
                            <label for="time2"></label>
                        </p>
                        <p class="col s4 center">
                            <input name="group2" type="radio" value="3" id="time3"/>
                            <label for="time3"></label>
                        </p>
                    </div>
                </div>
                <div class="col s12 center">
                    <a href="#intro-user-journal-modal" class="modal-close waves-effect waves-green btn modal-trigger">Next</a>
                </div>
            </div>
            <!-- Row below made to adjust size in CSS Later -->
            <div class="row" id="intro-below-emoji-space">
                <div class="col s12"></div>
            </div>
        </div>
    </div>

{{!-- Journal Modal --}}
    <div id="intro-user-journal-modal" class="modal">
        <div class="modal-content container">
            <h4 class="center">What are your thoughts?</h4>
        </div>
        {{!-- row one --}}
        <div class="row" id="intro-journal-emoji-space">
            <div class="col s12"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">create</i>
                    <input id="title-name" type="text" class="validate">
                    <label for="title-name" id="journalEntryTitle">Title:</label>
                </div>
            </div>
            <div class="col s6"></div>
            <div class="row">
                <div class="input-field center col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="journalEntry" id="journalEntry" class="materialize-textarea"></textarea>
                    <label for="journalEntry">Thoughts:</label>
                </div>
            </div>
            <div class="row center">
                <a id="intro-submit-entry" href="#intro-logout-or-results" class="modal-close waves-effect waves-green btn modal-trigger" data-length="300">Submit</a>
            </div>
        </div>
        <div class="row" id="intro-below-journal-space">
            <div class="col s12"></div>
        </div>
    </div>
    <div id="intro-logout-or-results" class="modal">
        <div class="container center">
            <div class="row">
                <div class="col s12"></div>
            </div>
            <row class="center">
                <div class="col s12">
                    <h3>Great Reflection!</h3>  
                </div>
            </row>
            <div class="row">
                <div class="col s12"></div>
            </div>
            <div class="row center">
                <div class="col s6">
                    <a href="/postedResults" id="intro-view-results" class="center modal-close waves-effect waves-green btn modal-trigger">results</a>
                </div>
                <div class="col s6">
                    <a href="/" id="intro-logout-user" class="center modal-close waves-effect waves-green btn modal-trigger">logout</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12"></div>
            </div>
        </div>
    </div>
</form>
  
  <!-- Footer -->
<footer class="page-footer grey">
<div class="container">
    <div class="row">
    <div class="col l6 s12">
        <h5 class="white-text">Creators</h5>
        <p class="grey-text text-lighten-4">
          We are students from UCSD Extension Web Development Bootcamp. This is our second project which showcases our skills and knowledge of Front End 
          and Back End. We are all passionate developers who love solving problems! Feel free to check our Github links. Thanks for stopping by!
        </p>
    </div>
    <div class="col l6 s12" style="text-align: right;">        
        <h5 class="white-text">Links</h5>
        <ul>
        <li>
            <a href="https://github.com/tracynle" class="grey-text text-lighten-3">Tracy Le</a>
        </li>
        <li>
            <a href="https://github.com/notmattcaro" class="grey-text text-lighten-3">Matthew Caro</a>
        </li>
        <li>
            <a href="https://github.com/IrvinGutierrez6117" class="grey-text text-lighten-3">Irvin Gutierrez</a>
        </li>
        <li>
            <a href="https://github.com/sweetmike" class="grey-text text-lighten-3">Michael Rivera</a>
        </li>
        </ul>
    </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container center">
        2019 
    </div>
</div>
</footer>



            
<!-- End of body, entering scripts  -->
<!--Google Charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<!-- Materialize JS Framework -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/js/intro.js"></script>