<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="intro">Home</a></li>
       
      </ul>
    </div>
</nav>

<div id="results-general-container" class="container row">
    {{!-- Pie chart appears here --}}
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</div>

<!-- Materialize JS Framework -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="/js/results.js"></script>