<nav>
  <div class="nav-wrapper white" id="nav-bar">
    <a href="#" class="brand-logo center white text-black" id="logo-header">
      <img src="../images/icons8-invert-selection-filled-48.png">
      <h1 id="logo-name" class="col s12">Reflect</h1>    
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down ">
    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger btn ' href='#' data-target='dropdown1'>  <i class="material-icons">menu</i></a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class="dropdown-content ">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>      
<div class="container-results">
  <div class="row">
    <div class="col s12">
      {{!-- Pie Chart Results --}}
      <div id="results-general-container" class="container row">
       <div class="row">
          <div class="col s12">
          <div id="piechart"></div>
          {{#each JournalEntries}}
          <p>Emotions:</p>
          <li>{{this.emotions}}</li>
          {{/each}}

        </div>
       </div>
      </div> 
    </div> 
    {{!-- Break down of results --}}
    <div class="row">
      <div class="col s12 center">
        <h3 class="title">Your Reflections</h3>
        <div class="row">
          <div class="col s12 m6 l4"><p>Past:</p><h1 class="percent">10%</div>
          <div class="col s12 m6 l4"><p>Present:</p><h1 class="percent">35%</div>
          <div class="col s12 m6 l4"><p>Future:</p><h1 class="percent">55%</div>

        </div>
      </div>
    <div class="row">
    <div class="col s12">
      {{!-- Pie Chart Results --}}
      <div id="results-general-container" class="container row">
       <div class="row">
          <div class="col s12">
          <div id="barchart_material"></div>

        </div>
       </div>
      </div> 
    </div> 
    </div>
  </div>
  

</div>

<footer class="page-footer grey lighten-3">
    <div class="container ">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="black-text">Creators</h5>
        <p>
            <ul class="black-text">
                <li><a href="https://github.com/tracynle">Tracy Le</a></li>
                <li><a href="https://github.com/notmattcaro">Matthew Caro</a></li>
                <li><a href="https://github.com/IrvinGutierrez6117">Irvin Gutierrez</a></li>
                <li><a href="https://github.com/sweetmike">Michael Rivera</a></li>
            </ul>
        </p>
        </div>
        
    </div>
    </div>
    <div class="footer-copyright blue-grey lighten-2">
    <div class="container center">
    © 2019 Copyright
    </div>
    </div>
</footer>

<!-- End of body, entering scripts  -->

<!--Google Charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<!-- Materialize JS Framework -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/js/results.js"></script>