.list-group-item {
  line-height: 2.5;
}
/* Intro ===================================================================================================================== */
/* PARALLAX  */
.landing-font {
  color: #16404F;
}

.landing-text {
  margin-top: 0px;
}

.parallax {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.parallax.p1 {
  background: url("../images/blank-business-composition-373076.jpg") no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  height: 100vh;

}

.parallax.p2 {
  background: url("../images/background-book-coffee-951230.jpg") no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  height: 70vh;
}

/* RESULTS ===================================================================================================================== */
#piechart {
  margin-top: 70px;
  background-color: white;
}

#test-center {
  text-align: center;
  background-color: #e0e0e0;
}

.title {
  background-color: white;
}

.percent {
  font-size: 60px;
}

.matt-pad {
  border-radius: 10px;
  padding: 20px;
}
.matt-font {
  font-size: 20px;
}
.flex-left {
  display: flex;
  justify-content: left;
}
.flex-right {
  display: flex;
  justify-content: right;
}